.main {
  display: flex;
  flex-direction: column;
  background-color: #1C1C1E;;
  &-card-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1em 2em 0 2em;
  }
}

.ui.button {
  background-color: #1C1C1E;
  color: white;
  border: solid white 1px;
}

.ui.header {
  color: white;
}

.ui.rating .active.icon {
  color: #F7C71B
}

.ui.cards>.card {
  background: #3A3A3C;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  color: white;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: #C4C4C4;
  font-weight: bold;
}

.game-img {
  border-radius: 5px;
}

.ui.two.cards {
  margin: 2em;
}
